<style>
    .inp {
        border-radius: 25px;
        border: 2px solid #609;
        padding: 20px; 
        width: 75%;
        height: 15px;
    }

    .search { 
    position: relative; 
    margin: 0 auto ;
    text-align: center;
    }

    .search .fa-search { 
    position: absolute;
    top: 28px;
    left: 65%;
    font-size: 15px;
    }

</style>

<%if(currentUser){%>
    <!-- <label>Username</label><br> -->
    <input type="hidden" type="text" id="username" placeholder="Username" <%if(currentUser){%>disabled<%}%> value="<%if(currentUser){%><%=currentUser.username%><%}%>" >    
    <input type="hidden" value="<%if(currentUser){%><%=currentUser.username%><%}%>" id="currentUser">
<%}%>

<br><br>


<div style="text-align:center;" class="search">
       
        <input type="text" id="message" placeholder="Chat Here" class="inp"  <%if(!currentUser){%>disabled<%}%>> 
</div>

<br>

<div style="text-align:center;">
        <button id="send" class="btn btn-warning">Send</button>
</div>


