

<div id="output" class="ui main text container segment" style="height:300px;line-height:3em;overflow:auto;padding:5px;"><%messages.forEach(function(message){%>
    
    <p class=card-block ><strong><%=message.username%></strong>: <%= message.message%></p>    

<%})%></div>

<script>

    var chatHistory = document.getElementById("output");
    chatHistory.scrollTop = chatHistory.scrollHeight;

</script>

        