<div class="ui main text container segment">
    
        <form class="form-horizontal" action="/login" method="POST" role="form">
    
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Username</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" name="username" placeholder="Username">
                </div>
            </div>
            
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                <input type="password"name="password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Log In</button>
                </div>
            </div>
        
        </form>



<h3>OR</h3>

<form class="form-horizontal" action="/signup" method="POST" role="form">
    
    <div class="form-group">
        <label for="inputEmail3"  class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10">
        <input type="text" name="username" class="form-control" placeholder="Username">
        </div>
    </div>
    
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
        <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
    </div>

    <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Confirm Password</label>
            <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Retype Password">
            </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-info">Sign Up</button>
        </div>
    </div>

</form>

</div>